/scrapy_vs_scrutiny/search_gov_spiders/.scrapy

/scrapy_vs_scrutiny/comparison/__pycache__

/scrapy_vs_scrutiny/comparison/processed

/scrapy_vs_scrutiny/comparison/scrutiny_urls/processed

/scrapy_vs_scrutiny/search_gov_spiders/build

/scrapy_vs_scrutiny/search_gov_spiders/dbs

/scrapy_vs_scrutiny/search_gov_spiders/eggs

/scrapy_vs_scrutiny/search_gov_spiders/logs

/scrapy_vs_scrutiny/search_gov_spiders/project.egg-info

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/__pycache__

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/scrapy_urls

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spider_logs

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spiders/dbs

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spiders/eggs

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spiders/twistd.pid

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spiders/__pycache__

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spiders/dbs

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spiders/eggs


/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spiders/logs/search_gov_spiders/james_webb_spider

/scrapy_vs_scrutiny/search_gov_spiders/search_gov_spiders/spiders/twistd.pid