/search_gov_spiders/.scrapy

/comparison/__pycache__

/comparison/processed

/comparison/scrutiny_urls/processed

/search_gov_spiders/build

/search_gov_spiders/dbs

/search_gov_spiders/eggs

/search_gov_spiders/logs

/search_gov_spiders/project.egg-info

/search_gov_spiders/search_gov_spiders/__pycache__

/search_gov_spiders/search_gov_spiders/scrapy_urls

/search_gov_spiders/search_gov_spiders/spider_logs

/search_gov_spiders/search_gov_spiders/spiders/dbs

/search_gov_spiders/search_gov_spiders/spiders/eggs

/search_gov_spiders/search_gov_spiders/spiders/twistd.pid

/search_gov_spiders/search_gov_spiders/spiders/__pycache__

/search_gov_spiders/search_gov_spiders/spiders/dbs

/search_gov_spiders/search_gov_spiders/spiders/eggs

/search_gov_spiders/search_gov_spiders/spiders/logs/search_gov_spiders/james_webb_spider

/search_gov_spiders/search_gov_spiders/spiders/twistd.pid

/scrapy_urls

/search_gov_spiders/twistd.pid

/search_gov_spiders/scrapy_urls

/search_gov_spiders/scrapyd_files/*