/scrapy_vs_scrutiny/scrapy_projects/armymwr/.scrapy


/scrapy_vs_scrutiny/scrapy_projects/get_smart_about_drugs/.scrapy

/scrapy_vs_scrutiny/scrapy_projects/james_webb/.scrapy

/scrapy_vs_scrutiny/scrapy_projects/travel_dod_mil/.scrapy

/scrapy_vs_scrutiny/scrapy_projects/veteran_affairs/.scrapy